[submodule "Rapture/vendor/spdlog"]
	path = Rapture/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rapture/vendor/GLFW"]
	path = Rapture/vendor/GLFW
	url = https://github.com/TheCherno/glfw
